In [366]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train', 'testffguyfyuf']

In [396]:


trainA=pd.read_csv("../input/train/AggregateData_Train.csv")
testr=pd.read_csv("../input/testffguyfyuf/AggregateData_Test.csv")

In [397]:
import pandas as pd, numpy as np, time
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(trainA.drop(["bad_flag"], axis=1), trainA["bad_flag"],random_state=200,test_size=0.10)

In [384]:
# y_train = trainA["bad_flag"];
# X=trainA.drop(['bad_flag'], axis=1);

In [398]:
def reffU(data): 
    data=data.replace('?', 0);
    data.fillna('0', inplace=True)
    #data.isnull().sum();
    data.drop(['V1', 'V2'], inplace=True, axis=1)
    return data;
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
def reff(data): 
    scaled_df= data.copy()
    scaled_df1= data.copy()
    col_names=['V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12',
           'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22',
           'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32',
           'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42',
           'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52',
           'V53'];
    features = scaled_df[col_names]
    scaler = MinMaxScaler().fit(features.values)
    features = scaler.transform(features.values)
    scaled_df[col_names] = features; 
    scaled_df['UID']=scaled_df.UID.astype('category').cat.codes;
    return scaled_df.astype(float);


from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
def reff1(data): 
    scaled_df= data.copy()
    scaled_df1= data.copy()
    col_names=['V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12',
           'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22',
           'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32',
           'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42',
           'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52',
           'V53'];
    features = scaled_df[col_names]
#     scaler = MinMaxScaler().fit(features.values)
#     features = scaler.transform(features.values)
#     scaled_df[col_names] = features; 
    scaled_df['UID']=scaled_df.UID.astype('category').cat.codes;
    return scaled_df.astype(float);

In [399]:


if __name__ == "__main__":
    trainA = reffU(X_train) 
    testA= reffU(X_test)
    X_train = reff1(trainA) 
    X_test= reff1(testA)
    testAA= reffU(testr)
    testt= reff1(testAA)

In [387]:
X_testt.head()

          UID        V3         V4   V5   V6 ...   V49  V50  V51  V52  V53
3411   1947.0      0.00  400868.90  0.0  0.0 ...   0.0  0.0  0.0  0.0  1.0
25475  1713.0  35600.00     626.42  0.0  0.0 ...   0.0  0.0  0.0  0.0  1.0
2115   1236.0  38039.64      28.50  0.0  0.0 ...   0.0  0.0  1.0  1.0  0.0
12726   300.0  88232.52      15.25  0.0  0.0 ...   0.0  0.0  0.0  0.0  0.0
810    2477.0      0.00      28.09  0.0  0.0 ...   0.0  2.0  1.0  4.0  7.0

[5 rows x 52 columns]

**Model 1**

In [ ]:
from sklearn.metrics import roc_auc_score
import xgboost as xgb
gbm=xgb.XGBClassifier(
                      max_depth=7,
                      subsample=0.9,
                      min_child_bytree=20,
                      learning_rate=0.025,
                      objective='gpu:binary:logistic', 
                      n_estimators=400,
                      seed=200).fit(X_train,y_train)
predictions = gbm.predict_proba(X_test);

In [ ]:
from sklearn import metrics
a=[];
metrics.roc_auc_score(y_test,gbm.predict_proba(X_test)[:,1])
gbmp=gbm.predict_proba(X_test)[:,1];

In [ ]:
a= pd.DataFrame({'gbm':gbmp.astype(float)})

**Modele 2**

In [ ]:
import lightgbm as lgb
from sklearn import metrics
d_train = lgb.Dataset(X_train, label=y_train)
params = {"max_depth": 7, "learning_rate" : 0.0125, "num_leaves": 800,  "n_estimators": 800}
model2 = lgb.train(params, d_train)

In [ ]:
from sklearn import metrics
#model2.predict(X_test);
metrics.roc_auc_score(y_test,model2.predict(X_test))

In [ ]:
pred=model2.predict(X_test);
a['lgb']=pred.astype(float)
a.head()

In [ ]:
a.tail()

**Model 3**

In [ ]:
import catboost as cb
clf = cb.CatBoostClassifier(eval_metric="AUC", depth=7, iterations= 800, l2_leaf_reg= 9, learning_rate= 0.0125)
clf.fit(X_train,y_train)

In [ ]:
metrics.roc_auc_score(y_test,clf.predict_proba(X_test)[:,1])

In [ ]:
pred=clf.predict_proba(X_test)[:,1];
a['cbd']=pred.astype(float)
a.head()

**Model 4**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=1000)
neigh.fit(X_train, y_train) 
metrics.roc_auc_score(y_test,neigh.predict_proba(X_test)[:,1])

In [ ]:
pred=neigh.predict_proba(X_test)[:,1];
a['KNN']=pred.astype(float)
a.head()

**Model 5**

In [ ]:
import catboost as cb
clf1 = cb.CatBoostClassifier(eval_metric="AUC", depth=3, iterations= 500, l2_leaf_reg= 9, learning_rate= 0.05)
clf1.fit(X_train,y_train)

In [ ]:
a['cb3']=clf1.predict_proba(X_test)[:,1].astype(float)
a.head()

**Model 6**

In [ ]:
import catboost as cb
clf2 = cb.CatBoostClassifier(eval_metric="AUC", depth=5, iterations= 400, l2_leaf_reg= 9, learning_rate= 0.05)
clf2.fit(X_train,y_train)

In [324]:
a['cb5']=clf2.predict_proba(X_test)[:,1].astype(float)
a.head()

        gbm       lgb       cbd    KNN       cb3       cb5
0  0.119352  0.110980  0.170158  0.109  0.141729  0.184583
1  0.064710  0.077921  0.091487  0.103  0.083117  0.075757
2  0.072722  0.073317  0.075384  0.109  0.072617  0.072466
3  0.054365  0.098893  0.063164  0.093  0.066715  0.067253
4  0.029120  0.026746  0.059033  0.078  0.055379  0.052306

**Model 7**

In [325]:
data=X_train.replace(0, -999);
data.fillna('-999', inplace=True)
dataT=X_test.replace(0, -999);
dataT.fillna('-999', inplace=True)

In [327]:
data.head()

           UID       V3        V4       V5  ...      V50    V51    V52    V53
17797   7817.0  60878.4   1865.18   -999.0  ...   -999.0 -999.0   17.0    8.0
9198   23284.0   -999.0   2471.92   -999.0  ...   -999.0 -999.0 -999.0 -999.0
21540  11549.0   -999.0   1439.34   -999.0  ...   -999.0 -999.0 -999.0 -999.0
11801   1812.0   -999.0  18057.00  60167.0  ...      1.0 -999.0    1.0   17.0
23248  13261.0   -999.0   2372.45   -999.0  ...      1.0    1.0 -999.0 -999.0

[5 rows x 52 columns]

In [330]:
from sklearn.metrics import roc_auc_score
import xgboost as xgb
gbm=xgb.XGBClassifier(
                      max_depth=7,
                      subsample=0.9,
                      min_child_bytree=2000,
                      learning_rate=0.0125,
                      objective='gpu:binary:logistic', 
                      n_estimators=4000,
                      seed=200).fit(data,y_train)
predictions = gbm.predict_proba(dataT);

In [334]:
metrics.roc_auc_score(y_test,gbm.predict_proba(dataT)[:,1])
a['xgb7']=gbm.predict_proba(dataT)[:,1].astype(float)
a.head()

        gbm       lgb       cbd    KNN       cb3       cb5      xgb7
0  0.119352  0.110980  0.170158  0.109  0.141729  0.184583  0.041683
1  0.064710  0.077921  0.091487  0.103  0.083117  0.075757  0.049462
2  0.072722  0.073317  0.075384  0.109  0.072617  0.072466  0.068520
3  0.054365  0.098893  0.063164  0.093  0.066715  0.067253  0.028723
4  0.029120  0.026746  0.059033  0.078  0.055379  0.052306  0.005978

**Model 8**

In [354]:
t=pd.read_csv("../input/train/AggregateData_Train.csv")
t.drop(['V1', 'V2'], inplace=True, axis=1)
t['UID']=t.UID.astype('category').cat.codes;
t=t.replace('?','NaN');
t= t.astype('float')
X_trainT,X_testT, y_trainT, y_testT = train_test_split(t.drop(["bad_flag"], axis=1), t["bad_flag"],random_state=200,test_size=0.10)

In [356]:
from sklearn.metrics import roc_auc_score
import xgboost as xgb
gbm=xgb.XGBClassifier(
                      max_depth=7,
                      subsample=0.9,
                      min_child_bytree=2000,
                      learning_rate=0.0125,
                      objective='gpu:binary:logistic', 
                      n_estimators=4000,
                      seed=200).fit(X_trainT,y_trainT)
predictions = gbm.predict_proba(X_testT);

In [357]:
metrics.roc_auc_score(y_testT,gbm.predict_proba(X_testT)[:,1])

0.6129616145111829

In [358]:
a['xgb_nan']=gbm.predict_proba(X_testT)[:,1].astype(float)
a.head()

        gbm       lgb       cbd    ...          cb5      xgb7   xgb_nan
0  0.119352  0.110980  0.170158    ...     0.184583  0.041683  0.078044
1  0.064710  0.077921  0.091487    ...     0.075757  0.049462  0.045164
2  0.072722  0.073317  0.075384    ...     0.072466  0.068520  0.063324
3  0.054365  0.098893  0.063164    ...     0.067253  0.028723  0.024066
4  0.029120  0.026746  0.059033    ...     0.052306  0.005978  0.003632

[5 rows x 8 columns]

**Meta Model**

In [359]:
X_train2,X_test2, y_train2, y_test2 = train_test_split(a,y_test,random_state=100,test_size=0.30)

In [389]:
from sklearn.metrics import roc_auc_score
import xgboost as xgb
gbm=xgb.XGBClassifier(
                      max_depth=3,
                      subsample=0.9,
                      min_child_bytree=20,
                      learning_rate=0.01,
                      objective='gpu:binary:logistic', 
                      n_estimators=100,
                      seed=200).fit(trainB,y)
predictions2 = gbm.predict_proba(X_testr);

In [400]:
predictions2 = gbm.predict_proba(testt);

In [404]:
predictions2[:,1].shape

(48434,)

In [407]:
pdtest.isnull().sum()

UID         0
bad_flag    0
dtype: int64

In [402]:
pdtest = pd.DataFrame({'UID':testr.UID.astype(object)})
pdtest['bad_flag']=predictions2[:,1]
pdtest.to_csv('ggptest2.csv', index=False);

In [408]:
pdtest

            UID  bad_flag
0          Te-1  0.223402
1          Te-2  0.234213
2          Te-3  0.237243
3          Te-4  0.230829
4          Te-5  0.228247
5          Te-6  0.278715
6          Te-7  0.227265
7          Te-8  0.229088
8          Te-9  0.241036
9         Te-10  0.233268
10        Te-11  0.277322
11        Te-12  0.270375
12        Te-13  0.258041
13        Te-14  0.229842
14        Te-15  0.244245
15        Te-16  0.239198
16        Te-17  0.232800
17        Te-18  0.225237
18        Te-19  0.231221
19        Te-20  0.248594
20        Te-21  0.230949
21        Te-22  0.229185
22        Te-23  0.229386
23        Te-24  0.224791
24        Te-25  0.229590
25        Te-26  0.243332
26        Te-27  0.230729
27        Te-28  0.230829
28        Te-29  0.232703
29        Te-30  0.221321
...         ...       ...
48404  Te-48405  0.230116
48405  Te-48406  0.229527
48406  Te-48407  0.230230
48407  Te-48408  0.228147
48408  Te-48409  0.225726
48409  Te-48410  0.245310
48410  Te-48411  0.228818
48411  Te-48412  0.243439
48412  Te-48413  0.265369
48413  Te-48414  0.221321
48414  Te-48415  0.283385
48415  Te-48416  0.264022
48416  Te-48417  0.228955
48417  Te-48418  0.231681
48418  Te-48419  0.230829
48419  Te-48420  0.227265
48420  Te-48421  0.246393
48421  Te-48422  0.233089
48422  Te-48423  0.247622
48423  Te-48424  0.246188
48424  Te-48425  0.228818
48425  Te-48426  0.268012
48426  Te-48427  0.228955
48427  Te-48428  0.232579
48428  Te-48429  0.227265
48429  Te-48430  0.228818
48430  Te-48431  0.221321
48431  Te-48432  0.233907
48432  Te-48433  0.248494
48433  Te-48434  0.228818

[48434 rows x 2 columns]